{% extends 'base.html' %}
{% block title %}Budget{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
        <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('unlogger') }}">Logout</a>
    <a href="#">Cashify Tools</a>
    <a href="#">Your Account</a>
    <a href="#">About</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="{{ url_for("unlogger") }}" id="logoutBtn"></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>Plan. adapt. improve.</p>
</div>
{% endblock %}

{% block intro %}
<!--Title-->
<div class="title">Budgeting Tool</div>

<!--Set Budget-->
<div id="budget-container" class="container">
    <div id="budgetInformation">
        <h2 class="font2">Edit Budget</h2>
        <form>
            <div class="row">
                <div class="col1">
                    <label id="labelAmount" for="budgetAmount">Total Monthly Budget Amount</label>
                </div>
                <div class="col2">
                    <span id="static">$</span><input type="text" id="budgetAmount" name="budgetAmount" placeholder="0.00">
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <input type="checkbox" id="budgetByCategory" name="budgetByCategory" onchange="showBudgetCategories()"><label for="category">Budget by Category<br><br></label>
                </div>
            </div>
            <div id="budgetByCategoryForm" hidden>
                <div class="row">
                    <div class="col1">
                    Income <input type="text" id="incomeBudget" name="incomeBudget" placeholder="0.00">
                    Utilities <input type="text" id="utilitiesBudget" name="utilitiesBudget" placeholder="0.00">
                    Rent <input type="text" id="rentBudget" name="rentBudget" placeholder="0.00">
                    Auto + Gas <input type="text" id="gasBudget" name="gasBudget" placeholder="0.00">
                    Education <input type="text" id="educationBudget" name="educationBudget" placeholder="0.00">
                    </div>
                    <div class="col2">
                    Healthcare <input type="text" id="healthBudget" name="healthBudget" placeholder="0.00">
                    Groceries <input type="text" id="groceriesBudget" name="groceriesBudget" placeholder="0.00">
                    Restaurants <input type="text" id="restaurantsBudget" name="restaurantsBudget" placeholder="0.00">
                    Home Improvement <input type="text" id="homeBudget" name="homeBudget" placeholder="0.00">
                    Shopping <input type="text" id="shoppingBudget" name="shoppingBudget" placeholder="0.00">
                    </div>
                    <div class="col3">
                    Entertainment <input type="text" id="entertainmentBudget" name="entertainmentBudget" placeholder="0.00">
                    Travel <input type="text" id="travelBudget" name="travelBudget" placeholder="0.00">
                    Savings <input type="text" id="savingsBudget" name="savingsBudget" placeholder="0.00">
                    Other <input type="text" id="otherBudget" name="otherBudget" placeholder="0.00">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br/><br/><br/>

        <div class="row">
            <input type="button" id="budgetBtn" value="Submit">
        </div>
</div>

{% endblock %}


{% block main %}

<div id="transactionHistory">
    <div id="table-title">
        <h2 class="font3">Your Monthly Budget</h2>
    </div>
    <div id="table-container" class="container">
        <table id="transactionTable">
            <thead id="thead">
                <tr class="style3">
                    <th id="totalColumn">Total Budget</th>

                    <th id="incomeColumn" class="categoryBudget">Income</th>
                    <th id="utilitiesColumn" class="categoryBudget">Utilities</th>
                    <th id="rentColumn" class="categoryBudget">Rent</th>
                    <th id="autoColumn" class="categoryBudget">Auto/Gas</th>
                    <th id="educationColumn" class="categoryBudget">Education</th>
                    <th id="healthcareColumn" class="categoryBudget">Healthcare</th>
                    <th id="groceriesColumn" class="categoryBudget">Groceries</th>
                    <th id="restaurantsColumn" class="categoryBudget">Restaurants</th>
                    <th id="homeColumn" class="categoryBudget">Home Improvement</th>
                    <th id="shoppingColumn" class="categoryBudget">Shopping</th>
                    <th id="entertainmentColumn" class="categoryBudget">Entertainment</th>
                    <th id="travelColumn" class="categoryBudget">Travel</th>
                    <th id="savingsColumn" class="categoryBudget">Savings</th>
                    <th id="otherColumn" class="categoryBudget">Other</th>

                </tr>
            </thead>
            <tbody id="tbody">
                <tr id="budgetRow">
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="table-title">
    <h2 class="font3"></h2>
</div>
{% endblock %}



{% block js %}

<div id="graph-container" class="container">
    <canvas id="budgetChart" width="400" height="400"></canvas>
    <script onchange='populateBudget()'>
        var home = false;
        var budget = true;
        let ctx = document.getElementById('budgetChart');
        let budgetChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Utilities', 'Rent', 'Auto', 'Education', 'Healthcare', 'Groceries', 'Restraunts', 'Home', 'Shopping', 'Entertainment', 'Travel', 'Savings', 'Other'],
                datasets: [{
                    label: 'Overall Spending',
                    data: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
                    backgroundColor: [
                        'rgba(28, 200, 14, 0.3)',
                        'rgba(70, 14, 200, 0.3)',
                        'rgba(200, 142, 14, 0.3)',
                        'rgba(238, 243, 252, 0.3)',
                        'rgba(1, 4, 5, 0.3)',
                        'rgba(224, 104, 6, 0.3)',
                        'rgba(227, 238, 228, 0.3)',
                        'rgba(60, 83, 82, 0.3)',
                        'rgba(42, 116, 81, 0.3)',
                        'rgba(46, 68, 116, 0.3)',
                        'rgba(236, 235, 234, 0.3)',
                        'rgba(61, 219, 86, 0.3)',
                        'rgba(0, 0, 0, 0.3)'
                    ]
                }]
            }
        });
    </script>
</div>

<script src="{{ url_for('static', filename='budget.js') }}"></script>
{% endblock %}