{% extends 'base.html' %}
{% block title %}Finance Prediction{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id="homeLink" onClick="scrollToTop()">Home</a>
    <a href="javascript:void(0)" id="loginLink" onClick="scrollToLogin()">Logout</a>
    <a href="#">Cashify Tools</a>
    <a href="#">Your Account</a>
    <a href="#">About</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="javascript:void(0)" id="logoutBtn" onClick=""></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>See into the future</p>
</div>
{% endblock %}

{% block intro %}
<!--Title-->
<div class="title">Prediction Tool</div>
{% endblock %}

{% block main %}
<div id="table-title">
    <h2 class="font3">Next Month Budget Prediction</h2>
</div>
<div id="graph-container" class="container">
    <canvas id="predictionChart" width="400" height="400"></canvas>
    <script>
        let ctx = document.getElementById('predictionChart');
        let budgetChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green'],
                datasets: [{
                    label: '# of Votes',
                    data: [1, 2, 5, 7],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ]
                }]
            }
        });
    </script>
</div>
{% endblock %}