{% extends 'base.html' %}
{% block title %}Finance Prediction{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('unlogger') }}">Logout</a>
    <button class="dropdown-btn">Cashify Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{{ url_for('trackerRedirect') }}">Tracker</a>
        <a href="{{ url_for('budgetRedirect') }}">Budget</a>
        <a href="{{ url_for('predictionRedirect') }}">Prediction</a>
      </div>
    <a href="{{ url_for('delete_account') }}">Delete Account</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="{{ url_for('unlogger') }}" id="logoutBtn"></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>See into the future</p>
</div>
{% endblock %}

{% block intro %}
<!--Title-->
<div class="title">Prediction Tool</div>
{% endblock %}

{% block main %}
<div class="chart-container">
    <div class="table-title">
        <h2 class="font3">Account Prediction</h2>
    </div>
    <div id="graph-container" class="container">
        <canvas id="predictionChart" width="400" height="400"></canvas>
    </div>
    <span id="daysOutDesc">Days into the Future:</span>
    <select id="daysOut" onchange="daysOut()">
            <option value="10">10 Days</option>
            <option value="30">30 Days</option>
            <option value="60">60 Days</option>
    </select>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='prediction.js') }}"></script>
{% endblock %}