{% extends 'base.html' %}
{% block title %}Finance Tracker{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
        <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('unlogger') }}">Logout</a>
    <a href="#">Cashify Tools</a>
    <a href="#">Your Account</a>
    <a href="#">About</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="{{ url_for("unlogger") }}" id="logoutBtn"></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>Budgeting Done Right</p>
</div>
{% endblock %}

{% block intro %}
<!--Title-->
<div class="title">Finance Tracker</div>
{% endblock %}

{% block main %}
<div class="chart-container">
    <div class="table-title">
        <h2 class="font3">Your Transactions</h2>
    </div>
    <div id="graph-container" class="container">
        <canvas id="trackerChart" width="400" height="400"></canvas>
    </div>
    <span id="daysOutDesc">Tracker Data:</span>
    <select id="dataType" onchange="dataChange()">
            <option value="total">Total Balance</option>
            <option value="category">By Category</option>
    </select>
    <button id="toggle" onclick="toggleLegend()">Show Legend</button>
</div>
<br/>
<div class="chart-container">
    <div class="table-title">
        <h2 id="budgetTitle" class="font3">Month of </h2>
    </div>
    <div id="graph-container" class="container">
        <canvas id="CategoryBars" width="400" height="400"></canvas>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='tracker.js') }}"></script>
{% endblock %}