{% extends 'base.html' %}
{% block title %}Finance Tracker{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
        <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('unlogger') }}">Logout</a>
    <a href="#">Cashify Tools</a>
    <a href="#">Your Account</a>
    <a href="#">About</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="{{ url_for("unlogger") }}" id="logoutBtn"></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>Budgeting Done Right</p>
</div>
{% endblock %}

{% block intro %}
<!--Title-->
<div class="title">Finance Tracker</div>
{% endblock %}