{% extends 'base.html' %}
{% block title %}Finance Tracker{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
        <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('unlogger') }}">Logout</a>
    <a href="#">Cashify Tools</a>
    <a href="#">Your Account</a>
    <a href="#">About</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="{{ url_for("unlogger") }}" id="logoutBtn"></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>Budgeting Done Right</p>
</div>
{% endblock %}

{% block intro %}
<!--Title-->
<div class="title">Finance Tracker</div>
{% endblock %}

{% block main %}
<div id="table-title">
    <h2 class="font3">Your Transactions</h2>
</div>
<div id="graph-container" class="container">
    <canvas id="trackerChart"></canvas>
</div>
{% endblock %}

{% block js %}
<script>
    function newDate(days) {
        return moment().add(days, 'd');
    }

    var config = {
        type: 'line',
        data: {
            labels: [newDate(-10), newDate(-9), newDate(-8), newDate(-7), newDate(-6), newDate(-5), newDate(-4), newDate(-3), newDate(-2), newDate(-1), newDate(0), newDate(1), newDate(2), newDate(3), newDate(4), newDate(5), newDate(6), newDate(7), newDate(8), newDate(9), newDate(10)],
            datasets: [{
            label: "Transactions",
            data: [25, 14.10, 32.54, 20.43, 28.25, 20, 11.10, 20.54, 56.43, 44.25, 30],
            backgroundColor: "rgba(255, 99, 132, 0.2)",
            borderColor: "rgba(255, 99, 132, 1)",
            pointBorderColor: "rgba(255, 0, 0, 1)",
            pointBackgroundColor: "rgba(255, 99, 132, 1)",
            pointBorderColor: "rgba(255, 0, 0, 1)",
            }, 
            {
            label: "Prediction",
            data: [null, null, null, null, null, null, null, null, null, null, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50],
            borderColor: "#3e95cd",
            fill: false
            }]
        },
        options: {
            scaleStartValue: 1,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: "day"
                    }
                }],
            },
        }
    };

    let ctx = document.getElementById('trackerChart');
    ctx.height = 200;
    let budgetChart = new Chart(ctx, config);
</script>
{% endblock %}