{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block nav %}
<!--Nav Bar-->
<div id="mySidenav" class="sidenav">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('unlogger') }}">Logout</a>
    <button class="dropdown-btn">Cashify Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{{ url_for('trackerRedirect') }}">Tracker</a>
        <a href="{{ url_for('budgetRedirect') }}">Budget</a>
        <a href="{{ url_for('predictionRedirect') }}">Prediction</a>
      </div>
    <a href="{{ url_for('delete_account') }}">Delete Account</a>
</div>
{% endblock %}

{% block titleBar %}
<a href="{{ url_for("unlogger") }}" id="logoutBtn"></a>
{% endblock %}


{% block header %}
<!--Logo-->
<div id="logo">
    <h1>Cashify</h1>
    <p>Welcome Back {{ user.username }}</p>
</div>
{% endblock %}


{% block intro %}
<!--Title-->
<div class="title">Transactions</div>

<!--New Transaction-->
<div id="transaction-container" class="container">
    <center><h1>Please enter transactions here</h1></center>
    <hr>
    <div id="transactionInformation">
        <center>Be sure to include the exact amount you spent and choose a category.</center>
        <center>View your previous transactions below or by viewing the tracker.</center>
        <center>You can view and update your budget through the budget tool.</center>
        <center>Our prediction algorithm will provide you with insight on what you will spend in the future based on your previous transactions.</center>
    </div>
    <hr>
    <h2 class="font2">Transaction Submission</h2>
    <form>
        <div class="row">
            <div class="col1">
                <label id="labelAmount" for="transactionAmount">Transaction Amount</label>
            </div>
            <div class="col2">
                <span id="static">$</span><input type="text" id="transactionAmount" name="transactionAmount" placeholder="0.00">
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label for="category">Category</label>
            </div>
            <div class="col2">
                <select id="category" onchange="checkOther()">
                    <option value="other">Other</option>
                    <option value="income">Income</option>
                    <option value="utilities">Utilities</option>
                    <option value="rent">Rent</option>
                    <option value="auto">Auto + Gas</option>
                    <option value="education">Education</option>
                    <option value="healthcare">Healthcare</option>
                    <option value="groceries">Groceries</option>
                    <option value="restaurants">Restaurants</option>
                    <option value="home">Home Improvement</option>
                    <option value="shopping">Shopping</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="travel">Travel</option>
                    <option value="savings">Savings</option>
                    <option value="newCategory">New Category</option>
                </select>
                <input type="text" id="newCategory" name="newCategory" placeholder="New Category..." disabled>
            </div>
        </div>
        <div class="row">
            <input type="button" id="deleteBtn" value="Delete">
            <input type="button" id="transactionBtn" value="Submit">
        </div>
    </form>
</div>
{% endblock %}

{% block main %}
<h2 class="font3" id="finacialToolsTitle">Financial Tools</h2>
<div id="finacialTools" class="style3">
    <div class="imageR">
            <div class="imageC" style="padding-left: 1vw">
                    <a href="{{ url_for('trackerRedirect') }}">
                        <img class="toolImg" src="/static/images/tracking.png" alt="Tracking">
                    </a>
            </div>
            <div class="imageC">
                    <a href="{{ url_for('budgetRedirect') }}">
                        <img class="toolImg" src="/static/images/budget.png" alt="Budget">
                    </a>
            </div>
            <div class="imageC" style="padding-right: 1vw">
                    <a href="{{ url_for('predictionRedirect') }}">
                        <img class="toolImg" src="/static/images/prediction.png" alt="Prediction">
                    </a>
            </div>
    </div>
</div>


<div class="chart-container">
    <div class="table-title">
        <h2 class="font3">Recent Transactions</h2>
    </div>
    <div id="table-container" class="container">
        <table id="transactionTable">
            <thead id="thead">
                <tr class="style3">
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    var home = true;
    var budget = false;
</script>
<script src="{{ url_for('static', filename='userpage.js') }}"></script>
{% endblock %}